# Imports

In [14]:
import pandas as pd
from sqlalchemy import create_engine
import json

# Read the file

In [9]:
products = pd.read_csv("..\..\data\products.csv")

In [10]:
products.shape

(500000, 3)

In [11]:
products.head()

,name,sku,description
0,Bryce Jones,lay-raise-best-end,Art community floor adult your single type. Pe...
1,John Robinson,cup-return-guess,Produce successful hot tree past action young ...
2,Theresa Taylor,step-onto,Choice should lead budget task. Author best me...
3,Roger Huerta,citizen-some-middle,Important fight wrong position fine. Friend so...
4,John Buckley,term-important,Alone maybe education risk despite way.\nWant ...

# Processing

Given that "sku" is not unique but is to be considered as primary key:
Assumption: We are following SCD 1 keeping the last record in file

In [12]:
products.drop_duplicates(subset=['sku'],keep='last',inplace=True)

In [13]:
products.shape

(466693, 3)

# Load

## Read Config

In [15]:
with open('../../config/config.json') as fp:
    config = json.load(fp)
# config

##  Create engine

In [17]:
engine=create_engine(config['connection_strings']['dummy'])

# Insert data

In [18]:
products.to_sql('products',engine,if_exists='append',index=False)